.hero {
    background: url('../img/kadullen_eten_2024.jpg') center center/cover no-repeat; /* Zorg dat de afbeelding past */
}

main {
    margin: 2rem;
}

.uk-card {
    width: 400px;
    justify-content: center;
    align-items: center;
}

.uk-cover-container{
    height: 100px;
    width: 100px;
}

.uk-cover-container img{
    height: 100px;
    width: 100px;
}

.jeton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Zorgt ervoor dat de kaarten onder elkaar staan */
    gap: 2rem; /* Optioneel: ruimte tussen de kaarten */
}
