.hero {
    background: url('../img/rewind_24.jpg') center center/cover no-repeat; /* Zorg dat de afbeelding past */
}

.uk-grid {
    margin: 2rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px; /* Optioneel, voor wat ruimte rond de inhoud */
}
  
.uk-card {
    max-width: 900px;
    width: 100%;
}

.uk-button {
    background-color: rgba(79, 161, 13, 0.818);
    color: white;
}

.uk-inline {
    margin-top: 10px;
}

