.hero {
    background: url('../img/zee_24.jpg') center center/cover no-repeat; /* Zorg dat de afbeelding past */
}

main {
    margin: 2rem;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}
