html {
    scroll-behavior: smooth;
}

.hero {
    background: url('../img/kamp_vuur_2024.JPG') center center/cover no-repeat; /* Zorg dat de afbeelding past */
}

main {
    margin: 2rem;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

.kampplaatsen {
    margin-top: 2rem;
}